
// Apply for every markdown elements
.markdown {

  // Specific handling for info-entry classed elements
  // which are right under my name
  .info-entry {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
  
    span {
      font-weight: bold;
      line-height: 1.5;
    }
  }
  
  // Remove unnecessary icons and titles for admonition elements
  .theme-admonition-note, .theme-admonition-info {
    div:first-child {
      display: none;
    }
  }
  
  // Re-color headers
  h1, h2, h3, h4, h5, h6 {
    color: var(--ifm-color-primary-contrast-foreground);
  }

  // Margin for headers
  h2.anchor {
    margin-top: 4rem;
  }

  // No margin bottom for last vertical scope
  .vertical-scope:last-of-type {
    margin-bottom: 0;
  }
}